h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav{
  background-color: #12282C !important;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;    
}

nav a{
  color: white !important;
}

header{  
  background: url("../images/back2.jpg");
  text-align: center;      
}

.overlay{
  background: rgba(0,0,0, 0.6);
}

header h1, header h2, header h3, header h4{
  color: white;
}

header .container img{
  display: block;
  margin: 80px auto;
}

#experiencia{
  background-image: url("../images/experiencia_background.png");*/
}

.personal-info{

}

header h1 span{
 color: #e0745c;  
}

.container h2, .container h3{
 color: #e0745c; 
}

.personal-about{
  line-height: 28px;  
}

.personal-about p{
  margin-top: 40px;
  text-align: justify;
}

.personal-info h5{
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.btn-floating i{
  color: #FE7448 !important;
}

.personal-info h5 span{
  display: inline-block;
  min-width: 90px;
}

#about, #proyectos{
  background-color: #5CC8E0;
}

.img-jc{
  display: block;
  margin: 30px auto;
}

.my-roles{
  color: #BFA624 !important;
}

.highlight{
  font-weight: bold;
}